* {
    margin: 0;
    padding: 0;
}

body {
height: 100vh;
padding: 5px;
display: flex;
flex-direction: column;
gap: 10px;
flex: 1;
}

header {
    text-align: center;
}

.container-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.display {
    width: 350px;
    height: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
    background-color: #fff;
}

.calc-box {
    display: flex;
    height: 502px;
    width: 350px;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 2px solid #000;
}

.calc-box {
    background-color: #E6E6E6;
}

.calculator,
.operator {
    height: 80px;
    width: 87.5px;
    border-radius: 18px;
    background-color: #A6A6A6;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}