@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', sans-serif;
}

body {
height: 100vh;
display: flex;
flex-direction: column;
background-image: url('./img/binary-1254485.png');
background-size: cover;
background-position: center;
}

header {
    color: #463072;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.container-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.calc-header {
    background-color: #86A7C7;
    height: 50px;
    width: 350px;
    font-size: 14px;
    font-weight: 300;
    border-bottom: 2px solid #9BCFE3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display {
    width: 350px;
    height: 100px;
    margin-bottom: 10px;
    font-size: 32px;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid #9BCFE3;
    background-color: #B0F7FF;
}

.calc-box {
    display: flex;
    height: 590px;
    width: 350px;
    padding: 0px 5px 8px 8px;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1.5px solid #5B588E;
    box-shadow: 5px 5px #5B588E;
    background-color: #86A7C7;
}


.calculator {
    height: 80px;
    width: 87.5px;
    border-radius: 10px;
    border-color: #7080AA;
    background-color: #463072;
    color: #B0F7FF;
    font-size: 16px;
    font-weight: 400;
}

.reset,
#divide,
#multiply {
    height: 80px;
    width: 87.5px;
    border-radius: 10px;
    border-color: #7080AA;
    color: #B0F7FF;
    font-size: 20px;
    font-weight: 400;
    background-color: #5B588E;
}


#add,
#subtract,
.dot,
.equal {
    height: 80px;
    width: 87.5px;
    border-radius: 10px;
    border-color: #7080AA;
    color: #463072;
    font-size: 28px;
    font-weight: 400;
    background-color: #9BCFE3;
}

footer {
    background-color: #7080AA;
    height: 40px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
}